<button
  class="card-menu"
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
>
  <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>playlist_remove</mat-icon>
    <span>Remover Filme</span>
  </button>
</mat-menu>

<a class="a" [routerLink]="[movie ? '/movie-detail' : '/serie-detail', movie ? movie.id : serie.id]">
  <mat-card class="my-card">
    <img class="image" mat-card-image [src]="movie? movie.photo : serie.photo | titlecase" />
    <mat-card-header class="header">
      <mat-card-title class="title">{{ movie? movie.name : serie.name | titlecase}}</mat-card-title>
      <mat-card-subtitle class="subtitle">{{
        movie? movie.producer : serie.producer | titlecase
      }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</a>



