.image {
  object-fit: cover;
}

.my-card {
  height: 100%;
  min-height: 40rem;
  max-height: 40rem;
  width: 100%;
  min-width: 20rem;
  max-width: 20rem;
}

 .header{
   text-align: center;
   display: block;
 }

img {
  background-color: aquamarine;
  min-height: 32rem;
  min-width: 20rem;
  max-height: 32rem;
  max-width: 20rem;
}

.card-menu{
  position: relative;
  z-index: 1;
  border-radius: 10%;
  border: hidden;
  left: 2%;
  top: 6%;
}

