<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Sobre o WatchZa</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      O WatchZa é um projeto feito para a matéria de Desenvolvimento De
      Aplicações Frontend Web Com Frameworks e Componentes. A matéria é ministrada pelo Prof.
      Dr. Roni Fabio Banaszewski, onde se faz o uso do Angular, alem de frameworks
      front-end como o Angular Material e o Bootstrap.
    </p>
    <p class="lead mb-4">Feito por Eric Kwiatkowski e Leandro Pires Nunes</p>
  </div>
</div>
