<article>
  <div class="container">
    <div class="d-flex gap-3 flex-wrap flex-md-nowrap ">
      <div class="movie-info p-3 ">
          <img
            class="movie-cover"
            [src]="movie?.photo"
            alt="Capa do filme {{ movie?.name }}"
          />
      </div>
      <div class="movie-detail p-3">
        <mat-list>
          <div matListItemTitles>Sinopse</div>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div matListItemLine>{{ movie?.sinopse }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Data de Lançamento</div>
          <mat-list-item>
            <div matListItemLine>{{ movie?.releaseDate | date:'longDate'}}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Duração</div>
          <mat-list-item>
            <div matListItemLine>{{ movie?.name }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Diretor</div>
          <mat-list-item>
            <div matListItemLine>{{ movie?.director }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Categoria</div>
          <mat-list-item>
            <div matListItemLine>{{ movie?.categoria }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Estudio</div>
          <mat-list-item>
            <div matListItemLine>{{ movie?.producer }}</div>
          </mat-list-item>

          
        </mat-list>
      </div>
      <div class="movie-status-btn position-fixed bottom-0 end-0">
        <button mat-fab extended color="accent">
          <mat-icon>favorite</mat-icon>
          {{movie?.status}}
        </button>
      </div>
    </div>
   
  </div>
</article>
