.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

article{
    width: 80%;
    margin: auto ;
    background-color: #FFFFFF;
}

.movie-cover {
    height: 100%;
    width: 30%;
    max-width: 700px;
    object-fit: cover;
    border-radius: 10px;
    float: left;
    margin: 0% 0 0 2%;
  }
  .movie-info{
    margin: 2% 0 0 0;
  }

  .movie-data{
    float: left;
    margin: 0 0 0 3%;
    
  }

  .movie-status-btn{
    position: fixed;
    top: 90%;
    left: 80%;
  }