.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
  }

.serie-cover {
    //min-height: 42vh;
    height: 30vmax;
    object-fit: cover;
    border-radius: 10px;
    //margin: 0% 0 0 2%;
  }
  .serie-info{
    //margin: 2% 0 0 0;
  }

  .serie-data{
    //margin: 0 0 0 3%;
  }

  .serie-detail{
    width: 100%;
    //margin: 2% 0 0 0;
  }