<article>
  <div class="container">
    <div class="d-flex gap-3 flex-wrap flex-md-nowrap">
      <div class="serie-info p-3">
        <img
          class="serie-cover"
          [src]="serie?.photo"
          alt="Capa do filme {{ serie?.name }}"
        />
      </div>
      <div class="serie-detail p-3">
        <mat-divider></mat-divider>
          <div matListItemTitle>Nome: </div>
          <mat-list-item>
            <div matListItemLine>{{ serie?.name }}</div>
          </mat-list-item>
        <mat-list>
          <div matListItemTitles>Sinopse</div>
          <mat-divider></mat-divider>
          <mat-list-item>
            <div matListItemLine>{{ serie?.sinopse }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Data de Lançamento</div>
          <mat-list-item>
            <div matListItemLine>{{ serie?.releaseDate }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Diretor</div>
          <mat-list-item>
            <div matListItemLine>{{ serie?.director }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>genero</div>
          <mat-list-item>
            <div matListItemLine>{{ serie?.gender }}</div>
          </mat-list-item>

          <mat-divider></mat-divider>
          <div matListItemTitle>Estudio</div>
          <mat-list-item>
            <div matListItemLine>{{ serie?.producer }}</div>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
          <div matListItemTitle>Temporadas</div>
          <mat-list-item>
            <div matListItemLine>{{ serie?.seasons }}</div>
          </mat-list-item>


      </div>
      <div class="serie-status-btn position-fixed bottom-0 end-0">
        <button mat-fab extended color="accent">
          <mat-icon>favorite</mat-icon>
          {{ serie?.check }}
        </button>
      </div>
    </div>
    
  </div>
</article>
