section {
  display: table;
}

.button-content .mat-mdc-button-base {
  margin: 1% 1%;
  font-weight: bold;
  height: 50px;
  width: 100px;
}

.bg-img {
  background-image: url(https://images.alphacoders.com/129/1299427.jpg);

  filter: blur(2px);
  -webkit-filter: blur(2px);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-content {
  background-color: rgba($color: #FFFFFF, $alpha: 0.7);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  border-radius: 10px;
}
