<div class="bg-img"></div>
<section>
  <div class="page-content">
    <h1>Bem-vindo ao Watchza !!</h1>
    <p>Registre as suas séries e filmes que você está assistindo</p>
    <div class="button-content">
      <br>
      <a href="">Teste</a>
      <br>
      <a routerLink="movie-list">aaaaaaaa</a>

      <a routerLink="/movie-list"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"><button mat-raised-button color="accent">Filmes</button></a>
      <button mat-raised-button color="accent">Séries</button>

      
    </div>
  </div>
</section>
