/* For use in src/lib/core/theming/_palette.scss */
$md-grey: (
    50 : #e9e9e9,
    100 : #c7c7c9,
    200 : #a2a2a5,
    300 : #7d7d80,
    400 : #616165,
    500 : #45454a,
    600 : #3e3e43,
    700 : #36363a,
    800 : #2e2e32,
    900 : #1f1f22,
    A100 : #7777f6,
    A200 : #4747f3,
    A400 : #0808ff,
    A700 : #0000ed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-yellow: (
    50 : #fef5e4,
    100 : #fce6bb,
    200 : #fbd58e,
    300 : #f9c460,
    400 : #f7b73e,
    500 : #f6aa1c,
    600 : #f5a319,
    700 : #f39914,
    800 : #f29011,
    900 : #ef7f09,
    A100 : #ffffff,
    A200 : #fff1e5,
    A400 : #ffd6b3,
    A700 : #ffc999,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-red: (
    50 : #f7e5e6,
    100 : #eabec0,
    200 : #dc9396,
    300 : #ce686b,
    400 : #c4474c,
    500 : #b9272c,
    600 : #b22327,
    700 : #aa1d21,
    800 : #a2171b,
    900 : #930e10,
    A100 : #ffc3c4,
    A200 : #ff9091,
    A400 : #ff5d5f,
    A700 : #ff4346,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);